@font-face {
    font-family: 'Digital-7 Mono Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Digital-7 Mono Italic'), url('digital-7 (mono italic).woff') format('woff');
    }
#outer{
    display: flex;
    justify-content: center;
}
#clock{
    border: 1px solid black;
    font-size: 200px;
    text-align: left;
    color: red;
    background-color: rgb(39, 39, 39);
    font-family:'Digital-7 Mono Italic';
}